form.rating_ballot {

  input[type="submit"] {
    display: none;
  }
  input.rating_button {
    display: none;
  }

  label.rating {
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;
    float: left;
    color: black;

    // span:hover:before {
    //   content: "\2605";
    //   position: absolute;
    //   color: red;
    // }
  }

  label.bright {
    content: "\2605";
    color: orange;
  }

  label.hover {
    color: red;
  }
}