<h1>All the places!</h1>

<ul>
  <% @places.each do |place| %>
    <li><h4><%= place.address %></h4></li>
    <li><h2><%= link_to place.name, place %></h2></li>
    <li><h3><%= place.description %></h3></li>
  <% end %>
</ul>

<% if signed_in? %>
  <%= button_to "Create", new_place_path, :method => "get" %>
<% end %>